baseURL = "https://playpixelpro.com/"
languageCode = "en-us"
title = "PlayPixelPro"
theme = "PaperMod"
enableRobotsTXT = true

[pagination]
  pagerSize = 10

[params]
  defaultTheme = "dark"
  ShowReadingTime = true
  ShowShareButtons = true
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowToc = true
  author = "Playpixelpro"
  hideFooter = true
  env = "production"

[params.verification]
  bing = "A1DBC3E64B374AF715D068482FEF097A"


[menu]

  [[menu.main]]
  identifier = "home"
  name = "Home"
  url = "/"
  weight = 1

  [[menu.main]]
  identifier = "posts"
  name = "Blog"
  url = "/posts/"
  weight = 2

  [[menu.main]]
  identifier = "about"
  name = "About"
  url = "/about/"
  weight = 3

