{{ $s := site.Params.social }}

{{ if and $s.live (gt (len $s.live_platforms) 0) }}

<div class="live-box">

  <span class="live-dot"></span>

  <span class="live-text">
    WATCH ME LIVE ON:

    {{ range $index, $platform := $s.live_platforms }}
      {{ if $index }} • {{ end }}

      <a href="{{ index $s (lower $platform) }}" target="_blank" rel="noopener">
        {{ upper $platform }}
      </a>

    {{ end }}
  </span>

</div>

{{ else if gt (len $s.last_platforms) 0 }}

<div class="last-live-box">

  Last live on

  {{ range $index, $platform := $s.last_platforms }}
    {{ if $index }} • {{ end }}
    {{ upper $platform }}
  {{ end }}

</div>

{{ end }}

<hr>
